<div [ngStyle]="{'background-image': 'url(' + restaurant.image+ ')'}" class="restaurantBackground">
    <div class="container">

        <div class="row">
            <div class="col-sm-12 col-md-6 pTop50">
                <mat-card>
                    <div [ngStyle]="{'background-image': 'url(' + restaurant.image+ ')'}" class="restaurantImage">
                    </div>
                    <h1> {{restaurant.name}}</h1>
                    <p>{{restaurant.address}}</p>
                    <p>{{restaurant.description}}</p>

                </mat-card>
            </div>
            <div class="col-sm-12 col-md-6 pTop50">
                <mat-card class="p40">
                    <mat-horizontal-stepper>
                        <mat-step label="Reservar">
                            <app-booking-form [restaurant]="restaurant"></app-booking-form>
                        </mat-step>
                        <mat-step label="Pagar">
                            Content 2
                        </mat-step>
                        <mat-step label="Resumen">
                            Content 2
                        </mat-step>
                    </mat-horizontal-stepper>
                </mat-card>
            </div>
        </div>
    </div>
</div>